<%= stylesheet_link_tag 'my_places' %>
<!--アイコンの表示-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<!--myplaces.jsに@places_countを渡す-->
<input type="hidden" id="places_count" value="<%= @places_count %>">
<p><h5>　</h5></p>
<p><h5>　</h5></p>

  <div class="container">
  <div class="row">
    <nav class="navbar navbar-expand navbar-dark bg-info fixed-top navbar-font">
      <div class="col-lg-6  d-flex">
        <%= link_to 'HOME', places_home_path, class: 'navbar-brand', data: {"turbolinks" => false} %>
        <ul class="navbar-nav ">
          <li class="nav-item"><%= link_to '行くとこ', my_places_todo_path, class: 'nav-link', data: {"turbolinks" => false}  %></li>
          <li class="nav-item active"><%= link_to '行った', my_places_completes_path, class: 'nav-link' %></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'お気に入り', my_places_favorites_path, class: 'nav-link' %></li>
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <div class="row">
          <div class="col-lg-8"></div>
          <div class="col-lg-2 text-center">
              <div class="header_profile_image">
                <!--アイコン表示-->
                <% if current_user.image? %>
                  <%=  image_tag current_user.image.url%>
                <% else  %>
                  <%= image_tag "default.png"%>
                <%end%>
              </div>
          </div>
          <div class="col-lg-2 text-center mt-2">

              <p><%= link_to 'マイページ', user_path(id: current_user.id),class: 'profile-link'%></p>
              <p><%= link_to 'ログアウト',destroy_user_session_path,class: 'profile-link',method: :get%></p>

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<% @completes.each_with_index do |comp,i| %>
  <div class="container padding">
    <div class="row m-4 p-3 todo-list">
      <div class="col-lg-6">
        <div id="todo-maps<%=i%>" date-lat="<%=comp.place.latitude%>" date-lng="<%=comp.place.longitude%>" style='width: 100%; height: 300px;'></div>
      </div>
      <div class="col-lg-6">
        <table>
        <tr>
          <th nowrap>名　　前：</th>
          <td><%= comp.place.name %></td>
        </tr>
        <tr>
          <th>住　　所：</th>
          <td><%= comp.place.address %></td>
        </tr>
        <tr>
          <th>コメント：</th>
          <td><%= comp.comment%></td>
        </tr>
        <tr>
          <th>評　　価：</th>
          <td><%= comp.rate%></td>
        </tr>
        </table>
        <span style="position:absolute;bottom:0">
          <div class="form-btn">
            <% if current_user.checkfav?(comp.place) %>
              <%= form_with(url: create_favorite_path(id: comp.place.id), local: true, method: :delete) do |f| %>
                <%= hidden_field_tag :place_id, comp.place.id %>
                <%= f.submit '登録解除', class: 'btn btn-danger lift-btn' %>
              <% end %>
            <% else %>
              <%= form_with(url: create_favorite_path(id: comp.place.id), local: true) do |f| %>
                <%= hidden_field_tag :place_id, comp.place.id  %>
                <%= f.submit 'お気に入り登録', class: 'btn btn-primary custom-btn' %>
              <% end %>
            <% end %>
            <td><%= link_to "編集", edit_my_place_path(comp.id),class:" btn btn-primary mx-3 custom-btn edit-btn" , data: {"turbolinks" => false}%></td>
          </div>
        </span>
      </div>
    </div>
  </div>
<% end %>



<script>
function initMap(){
  <% @completes.each_with_index do |comp,i| %>
    <% unless current_user.checkcomp(comp) %>
      //Idの数だけマップを出力
        var latlng = new google.maps.LatLng(<%=comp.place.latitude%>,<%=comp.place.longitude%>);

        map = new google.maps.Map(document.getElementById('todo-maps<%=i%>'),{
          center: {lat: <%=comp.place.latitude%>, lng: <%=comp.place.longitude%>},
          zoom: 18
        });
        marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
    <%end%>
  <%end%>
}
</script>







<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
