<%= stylesheet_link_tag 'my_places' %>
<!--アイコンの表示-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<!--myplaces.jsに@places_countを渡す-->
<input type="hidden" id="places_count" value="<%= @places_count %>">
<p><h5>　</h5></p>
<p><h5>　</h5></p>


<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand navbar-dark bg-info fixed-top navbar-font">
      <div class="col-lg-6  d-flex">
        <%= link_to 'HOME', places_home_path, class: 'navbar-brand', data: {"turbolinks" => false} %>
        <ul class="navbar-nav ">
          <li class="nav-itemactive active"><%= link_to '行くとこ', my_places_todo_path, class: 'nav-link', data: {"turbolinks" => false}  %></li>
          <li class="nav-item"><%= link_to '行った', my_places_completes_path, class: 'nav-link' %></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'お気に入り', my_places_favorites_path, class: 'nav-link' %></li>
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <div class="row">
          <div class="col-lg-8"></div>
          <div class="col-lg-4 text-center">
            <button class="btn rounded-circle p-0 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="header_profile_image">
                <!--アイコン表示-->
                <% if current_user.image? %>
                  <%=  image_tag current_user.image.url%>
                <% else  %>
                  <%= image_tag "default.png"%>
                <%end%>
              </div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p class="dropdown-item mt-3"><%= link_to 'マイページ', user_path(id: current_user.id),class: 'dropdown-item'%></p>
              <p class="dropdown-item"><%= link_to 'ログアウト',destroy_user_session_path,class: 'dropdown-item',method: :delete%></p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>



<% @places.each_with_index do |place,i| %>
  <% unless current_user.checkcomp(place) %>
  <div class="container padding">
    <div class="row m-4 p-3 todo-list">
      <div class="col-lg-6">
        <div id="todo-maps<%=i%>" date-lat="<%=place.latitude%>" date-lng="<%=place.longitude%>" style='width: 100%; height: 300px;'></div>
      </div>
      <div class="col-lg-6">
        <table>
        <tr>
          <th>名前：</th>
          <td><%= place.name %></td>
        </tr>
        <tr>
          <th>住所：</th>
          <td><%= place.address %></td>
        </tr>
        </table>

          <%= form_with url: my_places_path(id: place.id) , local:true do |f| %>
            <%= hidden_field_tag :place_id, place.id %>
            <%= hidden_field_tag :user_id, @user %>
            <p class="font-weight-bold mt-2 mb-0">評価・コメント</p>
            <div class="main-rating">
              <div class="ratings ratings<%=i%> mb-3">
                <span class="fa fa-star-o" id="star<%=i%>"></span>
                <span class="fa fa-star-o" id="star<%=i%>"></span>
                <span class="fa fa-star-o" id="star<%=i%>"></span>
                <span class="fa fa-star-o" id="star<%=i%>"></span>
                <span class="fa fa-star-o" id="star<%=i%>"></span>
              </div>
              <div class="ml-3 rating-value-display"><span id="rating-value-display<%=i%>">0</span>/5</div>
            </div>
            <%= f.text_area :comment,class: "form-control mb-4 " ,size:"30x4"%>
            <%= f.hidden_field :rate, id: "rating-value#{i}"%>
             <!--評価js-->
                  <script>
                    const stars<%=i%> = document.querySelector(".ratings<%=i%>").children;
                    const ratingValue<%=i%> = document.getElementById("rating-value<%=i%>");
                    const ratingValueDisplay<%=i%> = document.getElementById("rating-value-display<%=i%>");
                    let index<%=i%>;

                    for(let i=0; i<stars<%=i%>.length; i++){
                      stars<%=i%>[i].addEventListener("mouseover", function(){
                        for(let j=0; j<stars<%=i%>.length; j++){
                          stars<%=i%>[j].classList.remove("fa-star");
                          stars<%=i%>[j].classList.add("fa-star-o");
                        }
                        for(let j=0; j<=i; j++){
                          stars<%=i%>[j].classList.remove("fa-star-o");
                          stars<%=i%>[j].classList.add("fa-star");
                        }
                      })

                      stars<%=i%>[i].addEventListener("click", function(){
                        ratingValue<%=i%>.value = i + 1;
                        ratingValueDisplay<%=i%>.textContent = ratingValue<%=i%>.value;
                        index<%=i%> = i;
                      })

                      stars<%=i%>[i].addEventListener("mouseout", function(){
                        for(let j=0; j<stars<%=i%>.length; j++){
                          stars<%=i%>[j].classList.remove("fa-star");
                          stars<%=i%>[j].classList.add("fa-star-o");
                        }
                        for(let j=0; j<=index<%=i%>; j++){
                          stars<%=i%>[j].classList.remove("fa-star-o");
                          stars<%=i%>[j].classList.add("fa-star");
                        }
                      })
                    }
                  </script>

            <div class="form-btn">
              <div>
                <%= f.submit "　完　了　",class:" btn btn-primary mx-3 custom-btn"%>
                <% end %>
              </div>

              <div><%= link_to "　削　除　", place, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger mx-1 lift-btn'%></div>
            </div>

      </div>
    </div>
  </div>
  <% end %>
<% end %>




<script>
function initMap(){
  <% @places.each_with_index do |place,i| %>
    <% unless current_user.checkcomp(place) %>
      //Idの数だけマップを出力
        var latlng = new google.maps.LatLng(<%=place.latitude%>,<%=place.longitude%>);

        map = new google.maps.Map(document.getElementById('todo-maps<%=i%>'),{
          center: {lat: <%=place.latitude%>, lng: <%=place.longitude%>},
          zoom: 18
        });
        marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
    <%end%>
  <%end%>
}
</script>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy1b5ruTTBKO9kBVwvdK-kilOYFB9XHdM&callback=initMap" async defer></script>
